/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-maes-collage-banner {
	position: relative;
	min-height: 80vh;
	.maes-collage-banner-content {
		z-index: 101;
		position: absolute;
		top: 40%;
		transform: translate(0, -50%);
	}
	.slogan {
		font-size: x-large;
	}
	.maes-collage {
		position: absolute;
		height: 100%;
		width: 100vw;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		overflow-x: clip;
		mask: linear-gradient(
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 1) 8%,
			rgba(0, 0, 0, 1) 60%,
			rgba(0, 0, 0, 0)
		);
		img {
			position: absolute;
		}
		.maes-collage-background {
			position: absolute;
			height: 110%;
			width: 110%;
			top: -5%;
			left: -5%;
			background-size: cover;
			filter: blur(10px);
		}
	}
	// media queries
	.logo {
		width: 70%;
		margin-bottom: 1.5rem;
	}
	@media screen and (min-width: 576px) {
		.logo {
			width: 60%;
		}
	}
	@media screen and (min-width: 768px) {
		.logo {
			width: 50%;
		}
	}
}
